<app-navbar></app-navbar>
<br>
<div class="mt-2 mb-2 animated fadeInUp">
    <div class="container-login100">
        <div class="wrap-login100">
            <form (ngSubmit) ="onSubmit( f )"
                #f = "ngForm"
                class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title mb-6">
                    Edita el ticket
                </span>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <span *ngIf="f.submitted && f.controls['nombre'].errors"
                            class="text-danger">Este campo es obligatorio</span>
                        <label>Nombre</label>
                        <div class="wrap-input100 mb-1">
                            <input 
                                type="text" 
                                class="form-control"
                                name="nombre" 
                                required
                                [(ngModel)]="ticket.nombre">
                        </div>                        
                    </div>
                    <div class="form-group col-md-9">
                        <span *ngIf="f.submitted && f.controls['comentario'].errors"
                            class="text-danger">Este campo es obligatorio</span>
                        <label>Cometarios</label>
                        <div class="wrap-input100 mb-1">
                            <input 
                                type="text" 
                                class="form-control"
                                name="comentario" 
                                required
                                [(ngModel)]="ticket.comentario">
                        </div>                        
                    </div>
                    <div class="form-group col-md-9">
                        <span *ngIf="f.submitted && f.controls['estado'].errors"
                            class="text-danger">Este campo es obligatorio</span>
                        <label>Estado</label>
                        <div class="wrap-input100 mb-1">
                            <select type="text" 
                                    class="form-control" 
                                    [(ngModel)]="ticket.estado"
                                    name="estado">

                                <option *ngFor="let item of estadosList" [value]=" item "> {{ item }} </option>

                            </select>
                        </div>                        
                    </div>
                </div>                                
                <button type="submit" class="btn btn-primary">Registrar</button>
                <button class="btn btn-danger" (click)="goBack(idProject, idHistory)">Atras</button>
            </form>
        </div>
    </div> 
</div>
