<app-navbar></app-navbar>
<br>
<div class="container animated fadeInUp">
    <h1>Tickets</h1>
    <hr>
    <button (click)="navigateCreateTicket(idProject, idHistory)" class="btn btn-outline-success ml-2 mb-2">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Nueva historia
    </button>
    <div class="row row-cols-1 row-cols-md-4">
        <div class="col mb-3" *ngFor="let ticket of ticketList">
            <div class="card border-primary" *ngIf="ticket.estado == 'Activo'" >
              <div class="card-body text-primary">
                <h4 class="card-title"><b>{{ ticket.nombre }}</b></h4>
                <hr>
                <p class="card-text">{{ ticket.comentario }}</p>
                <div class="container-fluid">
                  <button class="btn btn-primary btn-block" (click)="goToEditTickets( idProject,idHistory, ticket.id )">Editar</button>
                </div>
              </div>
            </div>
            <div class="card border-warning " *ngIf="ticket.estado == 'En Proceso'" >
                <div class="card-body text-warning">
                  <h4 class="card-title"><b>{{ ticket.nombre }}</b></h4>
                  <hr>
                  <p class="card-text">{{ ticket.comentario }}</p>
                  <div class="container-fluid">
                    <button class="btn btn-primary btn-block" (click)="goToEditTickets( idProject,idHistory, ticket.id )">Editar</button>
                  </div>
                </div>
            </div>
            <div class="card border-danger" *ngIf="ticket.estado == 'Finalizado'" >
                <div class="card-body text-danger">
                  <h4 class="card-title"><b>{{ ticket.nombre }}</b></h4>
                  <hr>
                  <p class="card-text">{{ ticket.comentario }}</p>
                  <div class="container-fluid">
                    <button class="btn btn-primary btn-block" (click)="goToEditTickets( idProject,idHistory, ticket.id )">Editar</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
