<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">

      <!-- Menu superior Administrador -->
      <ul class="navbar-nav ml-auto" >
        <li
         class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home"><i class="fas fa-project-diagram"></i>  Proyectos<span class="sr-only">(current)</span></a>
        </li>
        <li
         class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/history-tickets"><i class="fas fa-project-diagram"></i>  Historial tickets<span class="sr-only">(current)</span></a>
        </li>
        <li
         class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/companys"><i class="fas fa-building"></i>  Compañias<span class="sr-only">(current)</span></a>
        </li>
        <li 
          class="nav-item">
            <a class="nav-link btn" (click)="salir()"><i class="fas fa-sign-out-alt"></i> Cerrar Sesion<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
</nav>