<app-navbar></app-navbar>
<br>
<div class="container animated fadeInDown">
    <h1>Empresas</h1>
    <hr>
    <button routerLink="/register-company" type="button" class="btn btn-outline-success ml-2 mb-2">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Nueva empresa
    </button>
    <table class="table table-sm table-striped table-borderless">
        <thead class="table-dark">
            <tr>
                <th scope="col">NIT</th>
                <th scope="col">Nombre</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let enterprise of enterpriseList">
                <th scope="row"> {{enterprise.nit}} </th>
                <td> {{enterprise.nombre}} </td>
                <td> {{enterprise.direccion}} </td>
                <td> {{enterprise.telefono}} </td>
                <td> {{enterprise.email}} </td>
            </tr>
        </tbody>
    </table>
</div>
