<app-navbar></app-navbar>
<br>
<div class="mt-2 mb-2 animated fadeInUp">
    <div class="container-login100">
        <div class="wrap-login100">
            <form (ngSubmit) ="onSubmit( f )"
                #f = "ngForm"
                class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title mb-6">
                    Crea un proyecto
                </span>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <span *ngIf="f.submitted && f.controls['nombre'].errors"
                            class="text-danger">Este campo es obligatorio</span>
                        <label>Nombre</label>
                        <div class="wrap-input100 mb-1">
                            <input 
                                type="text" 
                                class="form-control"
                                name="nombre" 
                                required
                                [(ngModel)]="project.nombre">
                        </div>                        
                    </div>
                    <div class="form-group col-md-9">
                        <span *ngIf="f.submitted && f.controls['descripcion'].errors"
                            class="text-danger">Este campo es obligatorio</span>
                        <label>Descripcion</label>
                        <div class="wrap-input100 mb-1">
                            <input 
                                type="text" 
                                class="form-control"
                                name="descripcion" 
                                required
                                [(ngModel)]="project.descripcion">
                        </div>                        
                    </div>
                </div>                                
                <button type="submit" class="btn btn-primary">Registrar</button>
                <a class="btn btn-danger" routerLink="/home">Atras</a>
            </form>
        </div>
    </div> 
</div>
