<app-navbar></app-navbar>
<br>
<div class="container-fluid mt-2 mb-2 animated fadeInUp">
    <div class="container-login100">
        <div class="wrap-login100">
            <form (ngSubmit) ="onSubmit( f )"
                #f = "ngForm"
                class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title mb-6">
                    Registra tu empresa
                </span>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <span *ngIf="f.submitted && f.controls['nombre'].errors"
                            class="text-danger">Este campo es obligatorio</span>
                        <label>Nombre</label>
                        <div class="wrap-input100 mb-1">
                            <input 
                                type="text" 
                                class="form-control"
                                name="nombre" 
                                required
                                [(ngModel)]="company.nombre">
                        </div>
                        
                    </div>
                    <div class="form-group col-md-9">
                        <span *ngIf="f.submitted && f.controls['nit'].errors"
                        class="text-danger">Este campo es obligatorio</span>
                        <label>NIT</label>
                        <div class="wrap-input100 mb-1">
                            <input 
                                type="text" 
                                class="form-control"
                                name="nit" 
                                required
                                [(ngModel)]="company.nit">
                        </div>               
                    </div>
                </div>                
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <span *ngIf="f.submitted && f.controls['telefono'].errors"
                        class="text-danger">Este campo es obligatorio</span>
                        <label for="Telefono">Telefono</label>
                        <div class="wrap-input100 mb-1">
                            <input 
                                type="number" 
                                class="form-control"
                                name="telefono" 
                                required
                                [(ngModel)]="company.telefono">
                        </div>                        
                    </div>

                    <div class="form-group col-md-9">
                        <span *ngIf="f.submitted && f.controls['email'].errors"
                        class="text-danger">Este campo es obligatorio</span>
                        <label>Correo</label>
                        <div class="wrap-input100 mb-1">
                            <input 
                            type="email" 
                            class="form-control"
                            name="email" 
                            required
                            [(ngModel)]="company.email">
                        </div>
                        
                    </div>
                    <div class="form-group col-md-9">
                        <span *ngIf="f.submitted && f.controls['direccion'].errors"
                        class="text-danger">Este campo es obligatorio</span>
                        <label for="inputAddress2">Direccion</label>
                        <div class="wrap-input100 mb-1">
                            <input 
                            type="text" 
                            class="form-control"
                            name="direccion" 
                            required
                            minlength="6"
                            [(ngModel)]="company.direccion">
                        </div>                        
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button>
                <a class="btn btn-danger" routerLink="/companys">Atras</a>
            </form>
        </div>
    </div>    
</div>
