<app-navbar></app-navbar>
<br>
<div class="container animated fadeInUp">
    <h1>Historias</h1>
    <hr>
    <button (click)="navigateCreateHistory(idProject)" class="btn btn-outline-success ml-2 mb-2">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Nueva historia
    </button>
    <div class="row row-cols-1 row-cols-md-4">
        <div class="col mb-3" *ngFor="let history of historyList">
            <div class="card border-primary">
              <div class="card-body">
                <h4 class="card-title"><b>{{ history.nombre }}</b></h4>
                <hr>
                <p><small>{{ history.descripcion }}</small></p>
                <div class="container-fluid">
                  <button class="btn btn-primary btn-block" (click)="goToTickets( idProject, history.id )">Tickets</button>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
