<div class="container-fluid mt-2 mb-2 animated fadeInUp">
    <div class="container-login100">
        <div class="wrap-login100">
            <form (ngSubmit) ="onSubmit( f )"
                #f = "ngForm"
                class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title mb-6">
                    Formulario de Registo
                </span>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <span *ngIf="f.submitted && f.controls['nombre'].errors"
                            class="text-danger">Este campo es obligatorio</span>
                        <label>Nombre</label>
                        <div class="wrap-input100 mb-1">
                            <input 
                                type="text" 
                                class="form-control"
                                name="nombre" 
                                required
                                [(ngModel)]="user.nombre">
                        </div>
                        
                    </div>
                    <div class="form-group col-md-9">
                        <span *ngIf="f.submitted && f.controls['apellido'].errors"
                        class="text-danger">Este campo es obligatorio</span>
                        <label>Apellido</label>
                        <div class="wrap-input100 mb-1">
                            <input 
                                type="text" 
                                class="form-control"
                                name="apellido" 
                                required
                                [(ngModel)]="user.apellido">
                        </div>               
                    </div>
                </div>                
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <span *ngIf="f.submitted && f.controls['empresa'].errors"
                        class="text-danger">Este campo es obligatorio</span>
                        <label for="Empresa">Empresa</label>
                        <div class="wrap-input100 mb-1">
                            <select 
                            class="form-control"
                            name="empresa" 
                            required
                            [(ngModel)]="user.empresa">

                            <option *ngFor="let item of empresas" [value] = "item"> {{item}} </option>
                            
                            </select>
                        </div>                        
                    </div>

                    <div class="form-group col-md-9">
                        <span *ngIf="f.submitted && f.controls['email'].errors"
                        class="text-danger">Este campo es obligatorio</span>
                        <label>Correo</label>
                        <div class="wrap-input100 mb-1">
                            <input 
                            type="email" 
                            class="form-control"
                            name="email" 
                            required
                            [(ngModel)]="user.email">
                        </div>
                        
                    </div>
                    <div class="form-group col-md-9">
                        <span *ngIf="f.submitted && f.controls['password'].errors"
                        class="text-danger">Este campo es obligatorio</span>
                        <label for="inputAddress2">Contraseña</label>
                        <div class="wrap-input100 mb-1">
                            <input 
                            type="password" 
                            class="form-control"
                            name="password" 
                            required
                            minlength="6"
                            [(ngModel)]="user.password">
                        </div>                        
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button>
                <a class="btn btn-danger" routerLink="/login">Atras</a>
            </form>
        </div>
    </div>    
</div>
