<app-navbar></app-navbar>
<br>
<div class="container animated fadeInDown">
    <h1>Proyectos</h1>
    <hr>
    <div class="row row-cols-1 row-cols-md-4">
        <div class="col mb-3" *ngFor="let project of projectList">
            <div class="card border-primary">
              <div class="card-body">
                <h4 class="card-title"><b>{{ project.nombre }}</b></h4>
                <hr>
                <p><small>{{ project.descripcion }}</small></p>
                <div class="container-fluid">
                  <a class="btn btn-primary btn-block txt-white" [routerLink]="[ '/project', project.id ]">Historias</a>
                </div>
              </div>
            </div>
        </div>
        <div class="col mb-3">
          <a routerLink="/register-project" class="txt-black">
            <div class="card border-primary">
              <div class="card-body">
                <h4 class="card-title"><b>Nuevo proyecto</b></h4>
                <hr>
              </div>
            </div>
          </a>    
      </div>
    </div>
</div>
